# Eclipse
.classpath
.project
.settings/

# Mac
.DS_Store

# Maven
log/
target/

# Java
.class
.jar

# Properties
private.properties

# Vagrant
.vagrant/
vagrant.copy/

#Miscelenious
*~
*saml.key
*saml.pem
*.png
publicHtml/

*.retry
*.DS_Store
