[Unit]
Description=spring
After=syslog.target

[Service]
User=vagrant
ExecStart=/home/vagrant/orcidConnect/target/orcidconnect-0.0.2-SNAPSHOT.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target